<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" >
  <span fxFlex>Finance Control</span>
  <div style="cursor: pointer;">
      <button mat-mini-fab [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/transactions">
              <span>Criar Transação</span>
          </button>
          <button mat-menu-item routerLink="/">
              <span>Todas Transações</span>
          </button>
          <button mat-menu-item routerLink="/account">
            <span>Saldo</span>
        </button>
      </mat-menu>
  </div>
</mat-toolbar>

